body {
    background-image: url('lined_paper.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    height: 100vh;
    margin: 0;
    position: relative;
}

#top-bar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
}
#icon-container img
{
    margin-left: auto;
}
#top-bar button {
    background-color: brown;
    color: #fff;
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
}

#top-bar h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

#content-container {
    display: flex;
    width: 80%;
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
}
#recommendations
{
    overflow: scroll;
}
#formbox,
#recommendations {
    flex: 1;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    margin-top: 20px; /* Add margin-top for spacing */
}
#formbox {
    margin: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    top: 5%;
    left: 10%;
    width: 50%; /* Adjusted width */
    height: 100%; /* Adjusted height */
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    align-items: flex-start;
}

#recommendations {
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    top: 5%;
    left: 50%;
    width: 20%; /* Adjusted width */
    height: 100%; /* Adjusted height */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the top */
    justify-content: center;
    padding: 10px; /* Adjusted padding */
    text-align: center;
    margin: 20px;
    align-items: center;
}

#text {
    text-align: left;
    overflow-y: scroll;
}

button {
    margin-top: auto;
    background-color: brown;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
}

p {
    color: #555;
}
