body {
    
    background-image: url('lined_paper.png');
    background-repeat: repeat;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}
#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
}

#icon-container img {
    margin-left: auto;
}

#top-bar h1 {
    margin: 0;
    text-align: center;
}

#butonel {
    background-color: brown;
    color: #fff;
    cursor: pointer;
    margin-right:0;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    bottom: -10px;
    margin: 0 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
#butonel:hover
{
    background-color: #45a049;
}
.container {
    background-color: #c47a3526;
    width: 60%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(85, 47, 24, 0.8);
}

 h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: none;
}

.entry {
    margin-bottom: 20px;
}


.container button {
    background-color: brown;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    bottom: -10px;
}
 button:hover {
    background-color: #45a049;
}

.container select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.container button {
    background-color: brown;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    bottom: -10px;
}
