<!DOCTYPE html>
<html>
<head>
    
    <title></title>
    <link rel="stylesheet" href="static\styles.css">
    <script src="static\scripts.js" defer></script>

</head>
<body>
        <h1 class ="title">Personal medical journal</h1>
        <div class="circle" onclick="redirectToPage('jurnal')"><b>Select your journal entry</b></div>
        <div class="small_circle circle1" onclick="redirectToPage('jurnal')"><b>Jurnal Medical</b></div>
        <div class="small_circle circle2" onclick="redirectToPage('sickness')"><b>Sickness</b></div>
        <div class="small_circle circle3" onclick="redirectToPage('jurnal')"><b>Option 3</b></div>
        <div class="small_circle circle4" onclick="redirectToPage('jurnal')"><b>Option 4</b></div>
</body>
</html>