<!DOCTYPE html>
<html>
<head>
    
    <title></title>
    <link rel="stylesheet" href="static\styles.css">
    <script src="static\scripts.js" defer></script>

</head>
<body>
        <h1 class ="title">Personal medical journal</h1>
        <div class="circle" onclick="redirectToPage('about')"><b>About</b></div>
        <div class="small_circle circle1" onclick="redirectToPage('jurnal')"><b>Daily Journal</b></div>
        <div class="small_circle circle2" onclick="redirectToPage('sickness')"><b>Advice</b></div>
        <div class="small_circle circle3" onclick="redirectToPage('health')"><b>Health</b></div>
        <div class="small_circle circle4" onclick="redirectToPage('view')"><b>View Report</b></div>
</body>
</html>